<header>
  <span class='logo'>
    <span class='box first'></span>
    <span class='box second'></span>
    <span class='box third'></span>
  </span>
  <h1>Nathan Lea</h1>
  <h3>A jQuery plugin for extracting dominant colors from images and applying it to its parent.</h3>
  <a href='https://github.com/nathanlea/' class='button mr'>Github</a>
  <a href='projects.html' class='button mr'>Projects</a>
  <a href='/resume.html' class='button mr'>Résumé</a>
  <a href='#' class='button tweet'>Tweet</a>
</header>
