<header>
  <span class='logo'>
    <span class='box first'></span>
    <span class='box second'></span>
    <span class='box third'></span>
  </span>
  <h1>Nathan Lea</h1>
  <a href='https://github.com/nathanlea/' class='button mr'>Github</a>
  <a href='projects.html' class='button mr'>Projects</a>
  <a href='resume.html' class='button mr'>Résumé</a>
  <a href='contact.html' class='button mr'>Contact</a>
  <footer>
Based on <a href="https://github.com/briangonzalez/jquery.adaptive-backgrounds.js">jquery.adaptive-backgrounds.js</a> by
<a href="http://briangonzalez.org">Brian Gonzalez</a> </br>
</footer>
</header>
